/* .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .admin-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .admin-vertical-nav {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-vertical-nav li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
 */


 /* .menu-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #1890ff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: #40a9ff;
} */


